In [1]:
import pyodbc

In [2]:
# Configurações de conexão ao SQL Server
server_name = 'DESKTOP-JDL4GHR\SQLEXPRESS'  # Nome do servidor SQL Server
trusted_connection = 'yes'  # Indica autenticação do Windows

In [3]:
# Verificando se os drivers estão instalados
print(pyodbc.drivers())

['SQL Server', 'SQL Server Native Client 11.0', 'SQL Server Native Client RDA 11.0', 'ODBC Driver 17 for SQL Server']

In [4]:
# String de conexão
conn_str = f'DRIVER=SQL Server;SERVER={server_name};TRUSTED_CONNECTION={trusted_connection}'

In [5]:
# Tentar estabelecer a conexão
try:
    with pyodbc.connect(conn_str, autocommit=True) as connection:
        cursor = connection.cursor()

        # Verificar se o banco de dados já existe
        if not cursor.tables(table='STG').fetchone():
            # Comando SQL para criar o banco de dados
            create_database_query = 'CREATE DATABASE STG'

            # Executar o comando SQL
            cursor.execute(create_database_query)

            print("Banco de dados 'STG' criado com sucesso!")
        else:
            print("O banco de dados 'STG' já existe.")

except pyodbc.Error as e:
    print(f"Erro ao criar/verificar o banco de dados: {e}")

Banco de dados 'STG' criado com sucesso!

In [6]:
# Tentar estabelecer a conexão
try:
    with pyodbc.connect(conn_str, autocommit=True) as connection:
        cursor = connection.cursor()

        # Verificar se o banco de dados já existe
        if not cursor.tables(table='DW').fetchone():
            # Comando SQL para criar o banco de dados
            create_database_query = 'CREATE DATABASE DW'

            # Executar o comando SQL
            cursor.execute(create_database_query)

            print("Banco de dados 'DW' criado com sucesso!")
        else:
            print("O banco de dados 'DW' já existe.")

except pyodbc.Error as e:
    print(f"Erro ao criar/verificar o banco de dados: {e}")

Banco de dados 'DW' criado com sucesso!

In [7]:
# Criando as tabelas dos arquivos fonte de receita e despesa em STG e a mes
conn_str = f'DRIVER=SQL Server;SERVER={server_name};Database=STG;TRUSTED_CONNECTION={trusted_connection}'
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

queries = [
    """
    CREATE TABLE TB_STG_MES (
                    NUM_MES_ANO NUMERIC(6) NOT NULL,
                    NUM_MES INT NOT NULL,
                    NOM_MES VARCHAR(25) NOT NULL,
                    NOM_MES_ANO VARCHAR(100) NOT NULL,
                    NOM_BIMESTRE VARCHAR(50) NOT NULL,
                    NOM_BIMESTRE_ANO VARCHAR(100) NOT NULL,
                    NOM_TRIMESTRE VARCHAR(50) NOT NULL,
                    NOM_TRIMESTRE_ANO VARCHAR(100) NOT NULL,
                    NOM_SEMESTRE VARCHAR(50) NOT NULL,
                    NOM_SEMESTRE_ANO VARCHAR(100) NOT NULL
    )
    """,
    """
    CREATE TABLE tb_stg_receitas (
                    ano INT NOT NULL,
                    mes INT NOT NULL,
                    codigo_unidade_gestora VARCHAR(40) NOT NULL,
                    unidade_gestora VARCHAR(40) NOT NULL,
                    esfera_administrativa VARCHAR NOT NULL,
                    classificacao_receita INT NOT NULL,
                    codigo_categoria FLOAT NOT NULL,
                    nome_categoria VARCHAR NOT NULL,
                    codigo_origem FLOAT NOT NULL,
                    nome_origem VARCHAR NOT NULL,
                    codigo_especie FLOAT NOT NULL,
                    nome_especie VARCHAR NOT NULL,
                    codigo_alinea FLOAT NOT NULL,
                    codigo_sub_alinea FLOAT NOT NULL,
                    codigo_detalhamento_nivel_1 FLOAT NOT NULL,
                    nome_detalhamento_nivel_1 VARCHAR NOT NULL,
                    codigo_detalhamento_nivel_2 FLOAT NOT NULL,
                    nome_detalhamento_nivel_2 VARCHAR NOT NULL,
                    codigo_detalhamento_nivel_3 FLOAT NOT NULL,
                    nome_detalhamento_nivel_3 VARCHAR NOT NULL,
                    codigo_tipo_detalhamento FLOAT NOT NULL,
                    nome_tipo_detalhamento VARCHAR NOT NULL,
                    codigo_grupo FLOAT NOT NULL,
                    nome_grupo VARCHAR NOT NULL,
                    codigo_fonte_reduzida FLOAT NOT NULL,
                    nome_fonte_reduzida VARCHAR NOT NULL,
                    codigo_detalhamento FLOAT NOT NULL,
                    nome_detalhamento VARCHAR NOT NULL,
                    previsao_inicial VARCHAR NOT NULL,
                    previsao_atualizada VARCHAR NOT NULL,
                    arrecadada VARCHAR NOT NULL,
                    previsao_inicial_fundeb VARCHAR NOT NULL,
                    previsao_atualizada_fundeb VARCHAR NOT NULL,
                    arrecadada_fundeb VARCHAR NOT NULL,
                    data_arquivo VARCHAR NOT NULL,
                    data_carga VARCHAR NOT NULL
    )
    """,
    """
    CREATE TABLE tb_stg_despesas (
                    ano INT NOT NULL,
                    mes INT NOT NULL,
                    codigo_unidade_gestora VARCHAR(255) NOT NULL,
                    unidade_gestora VARCHAR(255) NOT NULL,
                    esfera_administrativa VARCHAR(255) NOT NULL,
                    codigo_orgao INT NOT NULL,
                    nome_orgao VARCHAR(255),
                    codigo_unidade_orcamentaria INT NOT NULL,
                    nome_unidade_orcamentaria VARCHAR(255),
                    codigo_funcao INT NOT NULL,
                    descricao_funcao VARCHAR(255) NOT NULL,
                    codigo_sub_funcao INT NOT NULL,
                    descricao_sub_funcao VARCHAR(255) NOT NULL,
                    codigo_programa INT NOT NULL,
                    nome_programa VARCHAR(255),
                    codigo_acao FLOAT NOT NULL,
                    nome_acao VARCHAR(255) NOT NULL,
                    codigo_completo INT NOT NULL,
                    codigo_categoria INT NOT NULL,
                    descricao_categoria VARCHAR(255) NOT NULL,
                    codigo_grupo_natureza INT NOT NULL,
                    descricao_grupo_natureza VARCHAR(255) NOT NULL,
                    codigo_modalidade INT NOT NULL,
                    descricao_modalidade VARCHAR(255) NOT NULL,
                    codigo_elemento INT NOT NULL,
                    descricao_elemento VARCHAR(255) NOT NULL,
                    codigo_sub_elemento INT NOT NULL,
                    descricao_sub_elemento VARCHAR(255) NOT NULL,
                    codigo_grupo_fonte INT NOT NULL,
                    nome_grupo_fonte VARCHAR(255) NOT NULL,
                    codigo_fonte_reduzida INT NOT NULL,
                    nome_fonte_reduzida VARCHAR(255) NOT NULL,
                    codigo_detalhamento INT NOT NULL,
                    nome_detalhamento VARCHAR(255) NOT NULL,
                    previsao_inicial VARCHAR(40) NOT NULL,
                    previsao_atualizada VARCHAR(40) NOT NULL,
                    empenhada VARCHAR(40) NOT NULL,
                    liquidada VARCHAR(40) NOT NULL,
                    paga VARCHAR(40) NOT NULL,
                    data DATETIME NOT NULL,
                    data_carga DATETIME NOT NULL
    )
    """
]

# Executar as queries
for query in queries:
    cursor.execute(query)

# Confirmar as alterações
conn.commit()

# Fechar a conexão
cursor.close()
conn.close()